<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Listado de Productos</h1>
<table border="1">
        <tr>
            <th width="40">Id</th>
            <th width="250">Nombre</th>
            <th width="250">Marca</th>
            <th width="200">Ver Descripciones</th>
            <th colspan="2">Acciones</th>
        </tr>
    {% for item in object_list %}  
        <tr>
            <td>{{item.id}}</td>
            <td> {{item.nombre}}</td>
            <td>{{item.marca}}</td>
            <td><a href="{% url 'detalle' item.id %}">Detalle</a></td>
            <td><a href="{% url 'actualizar' item.id %}">Editar</a></td>
            <td><a href="{% url 'borrar' item.id %}">Eliminar</a></td>
            </td>
        </tr>
        {% endfor %}
</table>
<br>

<br>
<br>
<a href="../inicio/">Volver</a>
        
      

    
   
        
    
</body>
</html>



