<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
</head>
<body>
    <h1 style="text-align: center;">Acerca de</h1>
    <br>
    <br>
    <h2>Nombre: Roque Romero</h2>
    <p style="font-size: 30px;">Soy miembro de la comisión: 72685 . Estoy haciendo el curso de Python.</p> 
    <p style="font-size: 20px;">Esta entrega final tiene dos 
        parte, una de Usuario y otra de Productos. De no estar logueado no podrá acceder a la parte de Productos.
        Permite registrar nuevos Usuarios y Productos, como asi también realizar consultas de productos.
        No me detuve mucho en la parte gráfica por los tiempos y conocimientos, pero traté de aplicar lo aprendido
        en el curso.
    </p>
    <br>
    <br>
    <a href="../inicio">Volver</a>
</body>
</html>